body {
  font-family: 'Zilla Slab', sans-serif;
  background-color: #dad4c8;
}


/* ============= Main sections of page ==============*/

.fixed-header {
  position: fixed;
  width: 100%;
  background-color: #b6b4b0;
  z-index: 1;
}

.nav-wrap {
  display: block;
  margin: auto;
  width: 100%;
/*  background-color: green;*/
}

.logo-pic img {
  display: block;
  margin: auto;
  width: 60px;
}


.content-wrapper {
  position: relative;
  top: 230px;
  max-width: 90%;
  margin: auto;
  background-color: #dad4c8;
}

footer {
  position: relative;
  top: 260px
}




h1 {
  text-align: center;
  display: block;
  position: relative;
  top: -20px;
  font-size: 2.5em;
  font-weight: bold;
  padding: .5em 0 .5em 0;
/*  margin: 0;*/
  background-color: #b6b4b0;
/*  background-color:aqua;*/
}


/* ============= NAV ==============*/
.main-nav {
  display: block;
/*  display: inline-flex;*/
  margin: auto;
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: #b6b4b0;
}


ul li {
  float: left;
  list-style-type: none;
/*  font-weight: bold; */
/*  padding: 0 0 10px 0;*/
  padding-left: 20px;
  font-size: 1.2em;
}

.main-nav ul {
  text-align: center;
}

.main-nav ul li {
  display: inline-block;
/*  float: left;*/
  list-style-type: none;
  padding-left: 20px;
  font-size: 1.3em;
}


a {
  text-decoration: none;
  color: black;
/*  transition: text-shadow 0s;*/
}

a:hover {
  font-weight: bold; 
/*  text-shadow: 0 0 .1px black;*/
}



/* ============= SEARCH ==============*/
.search {
  display: block;
  margin: auto;
  width: 210px;
/*  margin: 0;*/
  padding-top: 30px;
  padding-right: 50px;
}

.search input {
}

.search button {
  float: right;
  top: 0px;
  z-index: 999;
}


img.right {
  float: right;
  width: 100%;
}

iframe.right {
  float: right;
  width: 100%;
}

h6 {
  font-weight: 800;
  margin: 0;
  padding: 10px 0px;
  font-size: 1.5em
}

.contact {
  height: 270px;
}

.contact-title {
  font-weight: 800;
  font-size: 1em;
}

.social-media i {
  width: 20%;
  height: 270px;
  padding-top: 10px
}

.f-border {
  border-right: solid 2px gray;
  padding: 5px
}


/* GRID SYSTEM START - 4 columns, 2% margins */
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
  width: 100%;
}
.span_3_of_4 {
  width: 74.5%;
}
.span_2_of_4 {
  width: 49%;
}
.span_1_of_4 {
  width: 23.5%;
}

.span_0_of_4 {
  width: 15%;
}

.span_5_of_4 {
  width: 30%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
/* END OF GRID SYSTEM */


/* GRID SYSTEM START - GRID OF TWELVE */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.5%;
}
.span_10_of_12 {
  	width: 83%;
}

.span_9_of_12 {
  	width: 74.5%;
}

.span_8_of_12 {
  	width: 66%;
}

.span_7_of_12 {
  	width: 57.5%;
}

.span_6_of_12 {
  	width: 49%;
}

.span_5_of_12 {
  	width: 40.5%;
}

.span_4_of_12 {
  	width: 32%;
}

.span_3_of_12 {
  	width: 23.5%;
}

.span_2_of_12 {
  	width: 15%;
}

.span_1_of_12 {
  	width: 6.5%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}